.height{
    height: 600px;
    width: 100%;
}
.text{
    color: black;
}
.nav{
    /* background-color: #06B2B6; */
    background-color: #b9d2d3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}
.linked{
    text-decoration: none;
    margin-left: 20px;
}
.logoname{
    width: 250px;
    height: 100px;
}